{% extends 'base.html.twig' %}

{% block title %}
	Welcome To Do List !
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="row d-flex gap-3">
		<a class="newTasks btn btn-success" href="/#">Créer une nouvelle tâche</a>
		{# <a class="newTasks" href="{{ path('task_create') }}" class="btn btn-success">Créer une nouvelle tâche</a> #}
		<a class="toDoTasks btn btn-info" href="/#">Consulter la liste des tâches à faire</a>
		{# <a class="toDoTasks" href="{{ path('task_list') }}" class="btn btn-info">Consulter la liste des tâches à faire</a> #}
		<a class="completedTasks btn btn-secondary" href="/#">
			Consulter la liste des tâches terminées</a>
	</div>
{% endblock %}
