<form method="post" action="{{ path('deleted.user', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
	<button class="btn btn-danger btn-sm pull-right">{{ button_label|default('Supression') }}</button>
</form>
